
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$font-family: 'Outfit', sans-serif;
$background-color: #10141E;
$primary-color: #161D2F;
$secondary-color: #5A698F;
$error-color: #FC4747;
$text-color: #FFFFFF;

//font sizes
$header-l:2rem;
$header-m:1.5rem;
$header-s:1.375rem;
$header-x:1.125rem;
$body-m:0.938rem;
$body-s:0.813rem;


