@use "../../../sass/variables" as v;
@use "../../../sass/mixins" as m;
@use "../../../sass/breakpoints";


.signup{
    @include m.flex-column($flex-direction: column, $align-items: center);
    gap: 1.5rem;
    margin-top: 2rem;
   


    form{
        background-color: v.$primary-color;
        width: 25rem;
        height: 26.125rem;
        padding:2rem 2rem;
        border-radius: 0.625rem;
        

        h6{
            color: v.$text-color;
            font-size: v.$header-l
        }

        .email{
            margin-top: 2rem;
            input{
                width: 21rem;
                height: 2.313rem;
                caret-color: v.$error-color;
                background: none;
                border: transparent;
                border-bottom: 1px solid v.$secondary-color;
                color: v.$text-color;
                font-size: v.$body-m;
                &:active,
                &:focus-within {
                 border-bottom: 1px solid v.$text-color;
         
                 ::placeholder{
                     color: v.$text-color;
                     font-size: v.$body-m;
                    
                 }
                }
            }
            .err-message{
                color: v.$error-color;
                font-size: v.$body-m;
                position: absolute;
                right: 5rem;
            }
        
            
        }

        .password{
            margin-top: 2rem;
            input{
                width: 21rem;
                height: 2.313rem;
                caret-color: v.$error-color;
                background: none;
                border: transparent;
                border-bottom: 1px solid v.$secondary-color;
                color: v.$text-color;
                font-size: v.$body-m;
                &:active,
                &:focus-within {
                 border-bottom: 1px solid v.$text-color;
         
                 ::placeholder{
                     color: v.$text-color;
                     font-size: v.$body-m;
                    
                 }
                }
            }

            .err-message{
                color: v.$error-color;
                font-size: v.$body-m;
                position: absolute;
                right: 5rem;
            }
        
            
        }

        .button{
            margin-top: 2.5rem;

            .btn-log{
                width: 21rem;
                height: 3rem;
                border-radius: 0.375rem;
                background-color: v.$error-color;
                border: none;
                color: v.$text-color;
                font-size: v.$body-m;

                &:hover{
                    cursor: pointer;
                    background-color: v.$text-color;
                    color: v.$primary-color;
                }
            }
        }

        .text{
            margin-top: 1rem;
            p{
                font-size: v.$body-m;
                color:v.$text-color;
                text-align: center;
            }

            a{
                color: v.$error-color;
                font-size: v.$body-m;
            }
        }
        
        
    }


   
}


// media queries
@include breakpoints.mq(tablet){
    .signup{
        margin-top: 5rem;
            form{
                .email{
                    input{
                        &:active,
                        &:focus-within {
                         border-bottom: 1px solid v.$text-color;
                        }
                        &.ng-touched.ng-invalid {
                            border-bottom: 1px solid v.$error-color;
                        }
                    }
                    .err-message{
                        color: v.$error-color;
                        font-size: v.$body-m;
                        position: absolute;
                        right: 15rem;
                    }
                
                }

                .password{
                    .err-message{
                        color: v.$error-color;
                        font-size: v.$body-m;
                        position: absolute;
                        right: 15rem;

                        &.ng-touched.ng-invalid {
                            border-bottom: 1px solid v.$error-color;
                        }
                    }
                
                }
            }
    
    }
}

@include breakpoints.mq(desktop){
    .signup{
        margin-top: 5rem;
        form{
            .email{
                input{
                    &:active,
                    &:focus-within {
                     border-bottom: 1px solid v.$text-color;
                    }
                }
                .err-message{
                    color: v.$error-color;
                    font-size: v.$body-m;
                    position: absolute;
                    right: 35rem;
                }
            
            }

            .password{
                .err-message{
                    color: v.$error-color;
                    font-size: v.$body-m;
                    position: absolute;
                    right: 35rem;
                }
            
            }
        }

}
}